.logoContainer {
    display: flex;     
    align-items: center; 
    justify-content: left; 
    margin: 25px;
    width: 100%;  
}

.Title {
    font-family: "jua";
    font-size: 40px;
    text-align: center;
    margin: 30px;
}

.Quarter {
    position: absolute;
    right: 8%;
    top: 20%;
    font-family: jua;
}

.course_number {
    display: inline-block;
    color: #87CEEB;
    font-family: "jua";
    font-size: 50px; 
    font-weight: bold;  
    -webkit-text-stroke: 1px black;
    margin-left: 50px;
}

.course_name {
    display: inline-block;
    color: black;
    font-family: "jua";
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
}

.description {
    color: black;
    margin: 10px 50px 20px 50px;
    font-family: "raleway";
}

.graph {
    display: grid;
    place-items: center;
    height: 100vh;
}